/CROSSFIRE
/EEPROM
/FIRMWARE
/FrSky-utilities
/IMAGES
/LOGS
/SCREENSHOTS
/SOUNDS/cz
/SOUNDS/de
/SOUNDS/es
/SOUNDS/fr
/SOUNDS/it
/SOUNDS/pt
/SOUNDS/ru
/SxR
/SxR Calibrate
/THEMES
/WIDGETS
*.luac
.DS_Store
