/CROSSFIRE
/EEPROM
/FIRMWARE
/FrSky-utilities
/IMAGES
/LOGS
/SCREENSHOTS
/SCRIPTS/TOOLS
/SCRIPTS/WIZARD
/SOUNDS/cz
/SOUNDS/de
/SOUNDS/es
/SOUNDS/fr
/SOUNDS/it
/SOUNDS/pt
/SOUNDS/ru
/SxR
/SxR Calibrate
/THEMES
/WIDGETS/Counter
/WIDGETS/SHOWALL
/WIDGETS/Timer2
/WIDGETS/BattCheck
*.luac
.DS_Store
